<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link href="/css/layui.css" th:href="@{/css/layui.css}" rel="stylesheet">
<body class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="btn-group hidden-xs" id="tableToolbar" role="group">
			<button type="button" class="btn btn-outline btn-default"
				th:onclick="'javascript:add()'"
				shiro:hasPermission="salary:salarymanage:add">
				<i class="glyphicon glyphicon-plus"></i>新增图书
			</button>
			<button type="button" class="btn btn-outline btn-default"
				th:onclick="'javascript:batchAdd()'"
				shiro:hasPermission="salary:salarymanage:batchAdd">
				<i class="glyphicon fa fa-cloud"></i>批量上传
			</button>
			<button type="button" class="btn btn-outline btn-default"
				th:onclick="'javascript:batchRemove()'"
				shiro:hasPermission="salary:salarymanage:batchRemove">
				<i class="glyphicon glyphicon-trash"></i>删除图书
			</button>
			<button type="button" class="btn btn-outline btn-default"
				th:onclick="'javascript:batchExport()'"
				shiro:hasPermission="salary:salarymanage:batchExport" id="batchExport">
				<i class="glyphicon fa fa-download"></i>全部导出Excel
			</button>
		</div>
		<table class="bootstrap-table" data-mobile-responsive="true"
			data-sort-name="book_id" data-sort-order="asc" id="table1">
		</table>
	</div>
	<div th:include="include :: footer"></div>
	<script src="/rzspider/salary/salarymanage.js"
		th:src="@{/rzspider/salary/salarymanage.js}"></script>
	<script src="/js/layui.js" th:src="@{/js/layui.js}"></script>
	<script th:inline="javascript">
        var editFlag = [[${@permissionService.hasPermi('salary:salarymanage:edit')}]];
        var detailFlag = [[${@permissionService.hasPermi('salary:salarymanage:detail')}]];
        var removeFlag = [[${@permissionService.hasPermi('salary:salarymanage:remove')}]];
    </script>
</body>
</html>